---
name: Check/Build/Publish

on:  # yamllint disable-line rule:truthy
  pull_request:  # yamllint disable-line rule:empty-values
  push:
    branches:
      - main
    tags:
      - "*"

jobs:
  check:
    name: Check Source Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Show uv version
        run: uv --version

      - name: Synchronize virtual environment
        run: uv sync

      - name: Run checks
        run: uv run invoke checks

  build:
    name: Build Packages
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Synchronize virtual environment
        run: uv sync

      - name: Build Python packages
        run: uv run invoke clean build

      - name: Run unit tests
        run: uv run invoke tests

      - name: Store artifacts
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}  # only for version tags
        uses: actions/upload-artifact@v4
        with:
          name: python-packages
          path: dist/
          retention-days: 1

  publish:
    # https://packaging.python.org/en/latest/guides/section-build-and-publish/
    name: Publish Packages
    needs: build
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}  # only for version tags
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/json-indent
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing
    steps:
      - name: Retrieve artifacts
        uses: actions/download-artifact@v4
        with:
          name: python-packages
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
